* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  background-color: #bfd8d2;
}
li {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: 18% 1fr 1fr 1fr 10%;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  /* grid-template-areas: not working
    "empty searchbar searchbar searchbar empty"
    "canDo profilePic infoUser infoUser empty"
    "workingOn photos photos photos empty"
    "wantTo photos photos photos empty"; */
  background-color: #fedca2;
  padding: 10px;
}

.empty {
  /* grid-area: empty; */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.searchBar {
  /* grid-area: searchbar; */
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.profilePic {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 7;
  /* grid-area: profilePic; */
}

.infoUser {
  /* grid-area: infoUser; */
  grid-column: 4 / 5;
  grid-row: 2 / 5;
}

.canDo {
  /* grid-area: canDo; */
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #fedcd2;
}
.canDo li:nth-child(odd) {
  background-color: #fedce6;
}

.workingOn {
  /* grid-area: workingOn; */
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  background-color: #fedcd2;
}
.workingOn li:nth-child(odd) {
  background-color: #fedce6;
}

.wantTo {
  /* grid-area: wantTo; */
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-color: #fedcd2;
}
.wantTo li:nth-child(odd) {
  background-color: #fedce6;
}

.photos {
  /* grid-area: photos; */
  grid-column: 2 / 5;
  grid-row: 5 / 6;
}
